body {
    @apply sp-font-display;
    background: rgba(0, 0, 0, 0.4);
    line-height: inherit;
    z-index: 10010;

    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    -ms-flex-preferred-size: auto;
    max-height: 650px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 16px 16px;

    @apply sp-bg-primary sp-text-primary;
}

input:not([type="checkbox"]):not([type="radio"]), select, textarea {
    width: 100%;
    @apply sp-max-w-full sp-px-3 sp-py-3/2 sp-bg-secondary sp-border-2 sp-border-secondary sp-rounded sp-leading-normal sp-box-border sp-appearance-none;
}

input[type="checkbox"], input[type="radio"] {
    @apply sp-bottom-0 sp-bg-tertiary sp-border-0;
}

select {
    @apply sp-pr-8 sp-bg-no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
    background-position: right 0.125rem center;
    background-size: 1.5rem;
}

input:hover,
select:hover,
textarea:hover {
    @apply sp-border-secondary;
    background-color: inherit;
    box-shadow: inherit;
}

input:focus,
select:focus,
textarea:focus {
    @apply sp-bg-primary sp-border sp-border-secondary;
    box-shadow: inherit;
    outline: none;
}

label {
    @apply sp-text-primary;
}

button {
    @apply sp-bg-primary-800 sp-border-0 sp-text-white;
}

button:hover {
    @apply sp-bg-primary-900 sp-border-0 sp-text-white;
}

.sp-loading:after {
    @apply sp-absolute sp-block sp-top-2 sp-right-3 sp-text-secondary sp-font-icon sp-font-bold sp-z-50;
    animation: fa-spin 2s infinite linear;
    content: "\f110";
}

ul.search-results {
    @apply sp-p-0 sp-m-0 sp-mt-6 sp-border sp-border-tertiary sp-rounded sp-overflow-y-auto sp-list-none;
}

ul.search-results li {
    @apply sp-border-b sp-border-secondary;
}

ul.search-results li:last-child {
    @apply sp-border-b-0;
}

ul.search-results li a {
    @apply sp-block sp-px-2 sp-py-1;
}

ul.search-results li.no-results {
    @apply sp-px-2 sp-py-1;
}

ul.search-results li a:hover {
    @apply sp-bg-secondary;
}

ul.search-results li .sp-title {
    @apply sp-font-bold;
}

ul li.sp-active {
    @apply sp-bg-primary-200;
}

ul li.sp-disabled {
    @apply sp-opacity-50;
}
